<!DOCTYPE html>
<html>
<head>
    <title>{{ car.brand }} {{ car.model }}</title>
</head>
<body>
    <h1>{{ car.brand }} {{ car.model }}</h1>
    <p>Release Year: {{ car.release_year }}</p>
    <p>Rental Price Per Day: {{ car.rental_price_per_day }}</p>
    <p>Capacity: {{ car.capacity }}</p>
    <p>Transmission: {{ car.transmission }}</p>
    <p>Added By: {{ car.added_by }}</p>
    <p>Phone Number: {{ car.phone_number }}</p>
    <p>City: {{ car.city }}</p>
    {% if car.photo1 %}
        <img src="{{ car.photo1.url }}" alt="Photo 1">
    {% endif %}
    {% if car.photo2 %}
        <img src="{{ car.photo2.url }}" alt="Photo 2">
    {% endif %}
    {% if car.photo3 %}
        <img src="{{ car.photo3.url }}" alt="Photo 3">
    {% endif %}
    <a href="{% url 'rent_car' car.id %}">Rent Car</a>
</body>
</html>